@charset "utf-8";
/*font*/
@font-face {
	font-family: 'SpoqaHanSans';
	font-style: normal;
	font-weight: 300;
	src:local(※), url(../font/SpoqaHanSansLight.ttf) format('truetype'),
		url(../font/SpoqaHanSansLight.woff) format('woff'),
		url(../font/SpoqaHanSansLight.woff2) format('woff2');
}
@font-face {
	font-family: 'SpoqaHanSans';
	font-style: normal;
	font-weight: 400;
	src:local(※), url(../font/SpoqaHanSansRegular.ttf) format('truetype'),
		url(../font/SpoqaHanSansRegular.woff) format('woff'),
		url(../font/SpoqaHanSansRegular.woff2) format('woff2');
}
@font-face {
	font-family: 'SpoqaHanSans';
	font-style: normal;
	font-weight: 700;
	src:local(※), url(../font/SpoqaHanSansBold.ttf) format('truetype'),
		url(../font/SpoqaHanSansBold.woff) format('woff'),
		url(../font/SpoqaHanSansBold.woff2) format('woff2');
}
/*reset*/
*,
*::before,
*::after {box-sizing: inherit;}
html, body, div,
h1, h2, h3, h4, h5, h6, p, a, i,
dl, dt, dd, ol, ul, li {padding:0; margin:0;}
body {-webkit-text-size-adjust:100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility; font-size: 112.5%; overflow: hidden;}
body {position:relative; font-family:'SpoqaHanSans', Verdana, Tahoma, Dotum, 'Dotum'; color: #4d5256;}
h1 {font-size: 1.5rem; font-weight: 400;}
h2,h3,h4,h5,h6,th {font-weight:400;}
ul, ol {list-style:none;}
table {border-spacing:0;}
img {display: block;}
label {cursor:pointer;}
input[type="checkbox"] + label, input[type="radio"] + label {display: inline-block; margin-left: .5rem;}
label + input[type="checkbox"], label + input[type="radio"] {margin-left: 1rem;}
i, em, address {font-style:normal}
caption,legend {visibility:hidden;width:0px;height:0px;font-size:0px;line-height:0px}
p, div, span, ul, ol, li, dl, dt, dd {word-break:keep-all;}
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {cursor:pointer; -webkit-appearance:button; border-radius: .5rem;}
.btn, button,input,select,textarea {vertical-align: middle; box-sizing: border-box; font-family:'SpoqaHanSans', Verdana, Tahoma, Dotum, 'Dotum'; font-size: 1rem;}
button {background: transparent; border: 0;}
input,select {border: 1px solid #ced3d6; padding: .375rem .5rem; border-radius: .125rem; margin: 0;}
input[type="text"],input[type="password"],select {width: 100%;}
input:disabled, select:disabled {background: #eaeeef; color: #878d91;}
input:focus, select:focus {border-color: #2196f3; box-shadow: 0 0 6px 0 rgba(33, 150, 243, 0.35);}
textarea {resize:none;}
a:link {text-decoration: none; color: #4d5256;}
li {margin: .5rem 0;}
li:first-child, li:last-child {margin: 0;}
span.hidden {overflow: hidden; width: 1px; height: 1px; clip: rect(1px,1px,1px,1px); clip-path: inset(50%); position: absolute;}

/* clearfix */
.clearfix{ *zoom:1;}
.clearfix:before, .clearfix:after {display:table; content:''; line-height:0;}
.clearfix:after {clear:both;}

/*text align set*/
.text-center{text-align:center !important;}
.text-left{text-align:left !important;}
.text-right{text-align:right !important;}

/*float set*/
.fl-left{float:left;}
.fl-right{float:right;}

/* flex layout */
.wrap {display: flex; flex-direction: column; min-height: 100vh;}
footer {margin-top: auto;}

/* grid */
.row {display: flex; margin: 0 -.75rem; flex-wrap: wrap;}
[class*="col-"] {width: 100%; box-sizing: border-box; padding: 0 .75rem;}
.col-1 {max-width: 8.333333%;}
.col-2 {max-width: 16.666667%;}
.col-3 {max-width: 25%;}
.col-4 {max-width: 33.333333%;}
.col-5 {max-width: 41.666667%;}
.col-6 {max-width: 50%;}
.col-7 {max-width: 58.333333%;}
.col-8 {max-width: 66.666667%;}
.col-9 {max-width: 75%;}
.col-10 {max-width: 83.333333%;}
.col-11 {max-width: 91.666667%;}
.col-12 {max-width: 100%;}

/* svg {width: 1.5rem; height: 1.5rem; margin-right: .25rem; vertical-align: top; fill: #4d5256;} */
.svg_init {width: 1.5rem; height: 1.5rem; margin-right: .25rem; vertical-align: top; fill: #4d5256;}